*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 53px;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    background-color: transparent;
}
.navbar{
       padding:10px;
    }
.navbar ul{
        display: flex;
        list-style-type: none;
        overflow: hidden;
    }
    .logo{
        color: #fff;
        font-family: "Sans-serif";
        font-size: 1.5rem;
        border: solid;
        border: #00a79d ;
        border-radius: 1px;
        border-left: 2px;
        padding: 10px 30px;
        cursor: pointer;
       
    }
nav.sticky .logo :hover{
color:  rgb(27, 184, 27);
}

.navbar ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 6px 20px;
    text-decoration: none;
    transition: color 1s ease;
   
}
.actives{
    background-color: #000;
}
.navbar ul li a:hover{
   color: #00a79d;
    
}
nav.sticky{
    padding: 5px 30px;
    background-color: #000;
    
}
.floating-menu {
    /* display: none; */
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
  
  li:nth-child(3):hover .floating-menu {
    display: block;
  }
  
  .floating-menu a {
    display: block;
    padding: 5px;
    color: black;
  }
  
  @media only screen and (min-width: 768px) {
    .floating-menu {
      display: none;
    }
  }
/* Home Section */

#home{
   
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    background-size: cover;
  background-position: center ;
    background-image: linear-gradient(255deg, rgba(44, 44, 46, 0.637), rgba(117, 19, 93, 0.281), rgba(0, 0, 0, 0.788),rgba(80, 77, 77, 0.664)),
    url('background.jpg');
    color: white;
   
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}
#home h1{
    margin-top: 60px;

}
#home p{
    text-align: justify;
    padding: 20px 50px;
}